.red-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgba(240, 4, 4, 0.4);
    background-color: red;
    margin-right: 8px;
}

.green-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgba(71, 240, 4, 0.4);
    background-color: green;
    margin-right: 8px;
}